cost of living by town <br>
https://www.cityrating.com/costofliving.asp <br> 
crime stats by town <br>
https://www.cityrating.com/crime-statistics/ <br>
income, education, age data by town <br>
https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import requests
from bs4 import BeautifulSoup

import pickle
import time

## Gather census data, then scrape crime data

### Clean poverty stats

In [2]:
pov = pd.read_csv('./data/poverty_rates.csv', encoding = 'ISO-8859-1')

In [3]:
pov.columns = ['state', 'town', 'poverty']

In [4]:
pov.drop([0,1], inplace = True)
pov.reset_index(drop = True, inplace = True)

In [5]:
# Only for Puerto Rico
for i in range(pov.shape[0]):
    flip = pov.loc[i, 'state']
    if '-' not in flip:
        pov.loc[i, 'state'] = f"-{flip}"

In [6]:
pov['state'] = pov['state'].apply(lambda x: x.split('-')[1].strip())

In [7]:
def clean_towns(town):
    if town[-4:] == ' CDP':
        return town[:-4]
    elif town[-5:] == ' town':
        return town[:-5]
    elif town[-5:] == ' city':
        return town[:-5]

In [8]:
pov['town'] = pov['town'].apply(clean_towns)

In [9]:
pov.head()

     state        town poverty
0  Alabama        None      18
1  Alabama      Abanda    25.9
2  Alabama   Abbeville    20.7
3  Alabama  Adamsville      16
4  Alabama     Addison    34.2

### Merge HS completion stats

In [10]:
hs = pd.read_csv('./data/hs_completion.csv', encoding = 'ISO-8859-1')

In [11]:
hs = hs[['GCT_STUB.display-label', 'GCT_STUB.display-label.1', 'HC01']]

In [12]:
hs.columns = ['state', 'town', 'hs_completion']

In [13]:
hs.drop([0,1], inplace = True)
hs.reset_index(drop = True, inplace = True)

In [14]:
hs.head()

                                       state             town hs_completion
0                    United States - Alabama          Alabama          85.3
1       United States - Alabama - Abanda CDP       Abanda CDP           8.4
2   United States - Alabama - Abbeville city   Abbeville city          79.1
3  United States - Alabama - Adamsville city  Adamsville city          83.5
4     United States - Alabama - Addison town     Addison town          85.1

hs national average: 87.3 <br>
poverty national average: 14.6

In [15]:
pov.shape, hs.shape

((29636, 3), (29636, 3))

In [16]:
pov['hs_completion'] = hs['hs_completion']

In [17]:
# Both town and state have to match with income data
pov['townstate'] = pov['town'] + ', ' + pov['state']

In [18]:
pov.head()

     state        town poverty hs_completion            townstate
0  Alabama        None      18          85.3                  NaN
1  Alabama      Abanda    25.9           8.4      Abanda, Alabama
2  Alabama   Abbeville    20.7          79.1   Abbeville, Alabama
3  Alabama  Adamsville      16          83.5  Adamsville, Alabama
4  Alabama     Addison    34.2          85.1     Addison, Alabama

### Clean income & household data

In [19]:
#inc = pd.read_csv('./data/income_data_copy.csv')

In [20]:
inc = pd.read_csv('./data/census_data.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,3,4,5,6,9,10,15,16,21,22,27,28,33,34,39,40,45,46,51,52,57,58,63,64,69,70,75,76,81,82,87,88,89,90,93,94,99,100,105,106,111,112,117,118,123,124,129,130,135,136,177,178,183,184,189,190,195,196,201,202,203,204,207,208,213,214,219,220,225,226,231,232,237,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
inc.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC03_EST_VC02,HC03_MOE_VC02,HC01_EST_VC04,...,HC02_EST_VC52,HC02_MOE_VC52,HC03_EST_VC52,HC03_MOE_VC52,HC01_EST_VC53,HC01_MOE_VC53,HC02_EST_VC53,HC02_MOE_VC53,HC03_EST_VC53,HC03_MOE_VC53
0,Id,Id2,Geography,Number; Estimate; Households,Number; Margin of Error; Households,Percent Distribution; Estimate; Households,Percent Distribution; Margin of Error; Households,Median income (dollars); Estimate; Households,Median income (dollars); Margin of Error; Hous...,Number; Estimate; Households - One race-- - White,...,Percent Distribution; Estimate; NONFAMILY HOUS...,Percent Distribution; Margin of Error; NONFAMI...,Median income (dollars); Estimate; NONFAMILY H...,Median income (dollars); Margin of Error; NONF...,Number; Estimate; NONFAMILY HOUSEHOLDS - Nonfa...,Number; Margin of Error; NONFAMILY HOUSEHOLDS ...,Percent Distribution; Estimate; NONFAMILY HOUS...,Percent Distribution; Margin of Error; NONFAMI...,Median income (dollars); Estimate; NONFAMILY H...,Median income (dollars); Margin of Error; NONF...
1,8600000US00601,00601,ZCTA5 00601,5818,249,5818,249,11757,1287,4614,...,38.1,6.9,9919,5162,90,49,5.7,3.0,-,**
2,8600000US00602,00602,ZCTA5 00602,12719,374,12719,374,16190,1499,8600,...,43.7,5.3,8531,2734,206,91,6.3,2.7,16563,10559
3,8600000US00603,00603,ZCTA5 00603,19009,503,19009,503,16645,952,13697,...,35.8,3.4,12473,1826,337,141,5.9,2.4,-,**
4,8600000US00606,00606,ZCTA5 00606,1959,154,1959,154,13387,2659,1034,...,48.7,11.9,9152,3842,101,59,18.2,9.6,9181,4828

In [22]:
inc = inc[['GEO.id2', 'HC01_EST_VC02', 'HC03_EST_VC02']]

In [23]:
inc.columns = ['ZCTA', 'n_households', 'med_income']

In [24]:
inc.drop([0], inplace = True)
inc.reset_index(drop = True, inplace = True)

In [25]:
inc.head()

    ZCTA n_households med_income
0  00601         5818      11757
1  00602        12719      16190
2  00603        19009      16645
3  00606         1959      13387
4  00610         9120      18741

In [26]:
inc['med_income'].value_counts()

-        2164
51250      76
46250      72
48750      72
41250      66
         ...
65815       1
34970       1
51687       1
91824       1
27123       1
Name: med_income, Length: 19651, dtype: int64

In [27]:
# Clean commas
inc['med_income'] = inc['med_income'].apply(lambda x: x.replace(',', ''))

In [28]:
# Clean 2500-. These will be treated as 2500
def clean_2500(income):
    if (income == '2500-'):
        return '2500'
    else:
        return income
    
inc['med_income'] = inc['med_income'].apply(clean_2500)

In [29]:
# Clean 250000+. These will be treated as 250000
inc['med_income'] = inc['med_income'].apply(lambda x: x.replace('+', ''))

In [30]:
# Interpolate hyphens: hyphens will adopt the value of the nearest numeric zip
for i in range(len(inc['med_income'])):
    if (inc.loc[i, 'med_income'] == '-'):
        numeric_neighbor = False
        neighbor_dist = 0
        while not numeric_neighbor:
            neighbor_dist += 1
            neighbor = inc.loc[i - neighbor_dist, 'med_income']
            if (neighbor != '-'):
                numeric_neighbor = True
               
        inc.loc[i, 'med_income'] = neighbor

In [31]:
inc.dtypes

ZCTA            object
n_households    object
med_income      object
dtype: object

In [32]:
inc['n_households'] = pd.to_numeric(inc['n_households'])
inc['med_income'] = pd.to_numeric(inc['med_income'])
inc['ZCTA'] = pd.to_numeric(inc['ZCTA'])

In [33]:
inc.dtypes

ZCTA            int64
n_households    int64
med_income      int64
dtype: object

### Merge zips data

In [34]:
zips = pd.read_csv('./data/uszips_data.csv')

In [35]:
zips.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [36]:
zips = zips[['zip', 'population', 'density', 'city', 'state_id', 'state_name', 'lat', 'lng']]

In [37]:
zips.isnull().sum()

zip           0
population    0
density       0
city          0
state_id      0
state_name    0
lat           0
lng           0
dtype: int64

In [38]:
inc = pd.merge(inc, zips, left_on = 'ZCTA', right_on = 'zip')

In [39]:
inc.drop(columns = 'zip', inplace = True)

In [40]:
inc.head()

,ZCTA,n_households,med_income,population,density,city,state_id,state_name,lat,lng
0,601,5818,11757,17242,111.4,Adjuntas,PR,Puerto Rico,18.18004,-66.75218
1,602,12719,16190,38442,523.5,Aguada,PR,Puerto Rico,18.36073,-67.17517
2,603,19009,16645,48814,667.9,Aguadilla,PR,Puerto Rico,18.45439,-67.12202
3,606,1959,13387,6437,60.4,Maricao,PR,Puerto Rico,18.16724,-66.93828
4,610,9120,18741,27073,312.0,Anasco,PR,Puerto Rico,18.29032,-67.12243

In [41]:
inc.shape

(33099, 10)

In [42]:
inc['townstate'] = inc['city'] + ', ' + inc['state_name']

In [43]:
inc = pd.merge(pov, inc, left_on = 'townstate', right_on = 'townstate')

In [44]:
inc.head()

,state,town,poverty,hs_completion,townstate,ZCTA,n_households,med_income,population,density,city,state_id,state_name,lat,lng
0,Alabama,Abbeville,20.7,79.1,"Abbeville, Alabama",36310,2555,40186,6055,12.2,Abbeville,AL,Alabama,31.60296,-85.21630
1,Alabama,Adamsville,16,83.5,"Adamsville, Alabama",35005,2792,50271,7528,89.3,Adamsville,AL,Alabama,33.59515,-87.00089
2,Alabama,Addison,34.2,85.1,"Addison, Alabama",35540,1075,45074,2436,12.6,Addison,AL,Alabama,34.23388,-87.18817
3,Alabama,Akron,48.7,62.8,"Akron, Alabama",35441,372,36731,1089,6.1,Akron,AL,Alabama,32.85374,-87.73861
4,Alabama,Alabaster,11.1,88.8,"Alabaster, Alabama",35007,8628,69691,26328,270.8,Alabaster,AL,Alabama,33.21591,-86.79717

In [45]:
inc.shape

(21167, 15)

## Scrape crime data

In [7]:
inc = pd.read_pickle('./pkl/inc2.pkl')

In [8]:
inc.head()

,Unnamed: 0,Unnamed: 0.1,state,town,poverty,hs_completion,townstate,ZCTA,n_households,med_income,...,density,city,state_id,state_name,lat,lng,crime_rate,students_per_teacher,property_crime,violent_crime
0,0,0,Alabama,Abbeville,20.7,79.1,"Abbeville, Alabama",36310,2555,40186,...,12.2,Abbeville,AL,Alabama,31.60296,-85.21630,62.0,13.000000,51.0,11.0
1,1,1,Alabama,Adamsville,16,83.5,"Adamsville, Alabama",35005,2792,50271,...,89.3,Adamsville,AL,Alabama,33.59515,-87.00089,269.0,17.666667,250.0,19.0
2,2,2,Alabama,Addison,34.2,85.1,"Addison, Alabama",35540,1075,45074,...,12.6,Addison,AL,Alabama,34.23388,-87.18817,15.0,15.500000,14.0,1.0
3,3,3,Alabama,Akron,48.7,62.8,"Akron, Alabama",35441,372,36731,...,6.1,Akron,AL,Alabama,32.85374,-87.73861,NaN,NaN,NaN,NaN
4,4,4,Alabama,Alabaster,11.1,88.8,"Alabaster, Alabama",35007,8628,69691,...,270.8,Alabaster,AL,Alabama,33.21591,-86.79717,585.0,18.571429,488.0,97.0

In [9]:
inc.shape

(21167, 21)

In [22]:
# get unique states
states = []
for i in range(inc.shape[0]):
    states.append(inc.loc[i, 'state'])
states = list(set(states))

In [28]:
# Not used currently.
crime_types = [
    'Aggravated Assault',
    'Arson',
    'Burglary',
    'Larceny and Theft',
    'Motor Vehicle Theft',
    'Murder and Manslaughter',
    'Rape',
    'Robbery',
    'Crime Rate (Total Incidents)',
    'Property Crime',
    'Violent Crime'
]

In [23]:
def get_crime_rate(state, town):
    state = state.replace(' ', '-')
    town = town.replace(' ', '-')
    try:
        url = f'https://www.cityrating.com/crime-statistics/{state}/{town}.html'
        res = requests.get(url)
        soup = BeautifulSoup(res.content, 'lxml')
        property_crime = int(soup.find_all('td', text = 'Property Crime')[0].find_next_sibling('td').text)
        violent_crime = int(soup.find_all('td', text = 'Violent Crime')[0].find_next_sibling('td').text)
        return property_crime, violent_crime
    except:
        return np.nan, np.nan

In [30]:
#inc['crime_rate'] = 0

In [24]:
#town_crime_rates = {}
#output_name = "/Users/elijahcurme/Desktop/GA/capstone/pkl/town_crime_rates.pkl"
done_states = [
    'Idaho',
    'Hawaii',
    'Florida',
    'Washington',
    'Georgia',
    'Maryland',
    'Pennsylvania',
    'Virginia',
    'Iowa',
    'Alaska',
    'Louisiana',
    'Alabama',
    'New Jersey',
    'South Carolina',
    'Illinois',
    'Massachusetts',
    'Utah',
    'Kentucky',
    'Tennessee',
    'New Hampshire',
    'New Mexico',
    'Indiana',
    'Missouri',
    'South Dakota',
    'West Virginia',
    'California',
    'Ohio',
    'Nebraska',
    'Oklahoma',
    'Minnesota',
    'Rhode Island',
    'Delaware',
    'Mississippi',
    'Kansas',
    'Michigan',
    'Texas',
    'Wyoming',
    'Connecticut',
    'Arizona',
    'North Dakota',
    'District of Columbia',
    'North Carolina',
    'Maine',
    'Montana',
    'Colorado',
    'Wisconsin',
    'Oregon',
    'Vermont',
    'Arkansas',
    'Nevada',
    'New York'
]

In [25]:
# Loop through each town in each state to scrape crime data
for state in states:
    if state not in done_states:
        towns = list(set(inc.loc[inc['state'] == state, 'town']))
        for town in towns:
            #town_crime_rates[(state, town)] = get_crime_rate(state, town)            
            #inc.loc[(inc['state'] == state) & (inc['town'] == town), 'crime_rate'] = get_crime_rate(state, town)
            inc.loc[(inc['state'] == state) & (inc['town'] == town), 'property_crime'] = get_crime_rate(state, town)[0]
            inc.loc[(inc['state'] == state) & (inc['town'] == town), 'violent_crime'] = get_crime_rate(state, town)[1]
            pd.to_pickle(inc, '/Users/elijahcurme/Desktop/GA/capstone/pkl/inc2.pkl')
        done_states.append(state)
        print(f"{state} finished")

Oregon finished
Vermont finished
Arkansas finished
Nevada finished
New York finished

In [31]:
inc.to_csv('./data/inc.csv')

In [43]:
#test_inc = pd.read_pickle('/Users/elijahcurme/Desktop/GA/capstone/pkl/inc.pkl')

In [ ]:
# with open(output_name, "rb") as f:
#     town_crime_rates = pickle.load(f)

In [ ]:
# state_towns = town_crime_rates.keys()
# for state, town in state_towns:
#     inc.loc[(inc['state'] == state) & (inc['town'] == town), 'crime_rate'] = town_crime_rates[(state, town)]

```python
new_dict = {}
for state in states:
    new_dict[state] = {}

for state, town in town_crime_rates.keys():
    new_dict[state][town] = town_crime_rates[(state, town)]
```

```python
done_states = list(set([state, _ for state, town in town_crime_rates.keys()]))
```